@use "../utils/" as *;

button {
  background-color: $Cyan;
  cursor: pointer;
  padding: 0.8rem 2rem;
  color: #fff;
  transition: 0.3s ease;
  font-weight: 700;

  &:active {
    filter: brightness(110%);
  }
}

.copied {
  background-color: $DarkViolet;
}

.deleteButton {
  background-color: rgb(232, 40, 40);
}

@media (min-width: 768px) {
  button {
    &:active {
      filter: brightness(100%);
    }

    &:hover {
      filter: brightness(110%);
    }
  }
}
