@use "../utils" as *;

.hero {
  position: relative;
  flex-direction: column;
  .getStarted {
    text-align: center;
    width: 100%;
    h1 {
      color: $VeryDarkBlue;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.11;
      margin-top: 16rem;
    }
    p {
      color: $GrayViolet;
      margin: 1rem auto 2rem;
    }
    button {
      margin: 0 auto;
    }
  }

  img {
    position: absolute;
    width: 383px;
    height: 251px;
    right: -28%;
    z-index: -1;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    flex-direction: row-reverse;
    img {
      position: absolute;
      width: 650px;
      height: 410px;
      right: -15%;
      top: -10%;
    }
    .getStarted {
      text-align: left;
      margin-right: auto;
      width: 50%;
      h1 {
        font-size: 3.5rem;
        font-weight: 700;
        margin-top: 1rem;
      }
      p {
        line-height: 1.5;
      }
    }
  }
}
