@use "../utils" as *;

.hero {
  padding: 0 1.5rem;
  margin-bottom: 8rem;
  position: relative;
  flex-direction: column;
  .getStarted {
    text-align: center;
    width: 100%;
    h1 {
      color: $VeryDarkBlue;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.11;
      margin-top: 17rem;
    }
    p {
      color: $GrayViolet;
      margin: 1rem auto 2rem;
      line-height: 26px;
    }
    button {
      margin: 0 auto 2rem;
    }
  }

  img {
    position: absolute;
    width: 410px;
    height: 271px;
    right: -80px;
    z-index: -1;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 0 8rem;
    flex-direction: row-reverse;
    img {
      position: absolute;
      width: 650px;
      height: 410px;
      right: -100px;
      top: -10%;
    }
    .getStarted {
      text-align: left;
      margin-right: auto;
      width: 500px;
      h1 {
        font-size: 3.5rem;
        font-weight: 700;
        margin-top: 1rem;
      }
      p {
        line-height: 1.5;
      }
    }
  }
}

@media screen and (min-width: 1640px) {
  .hero {
    padding: 0 14rem;

    img {
      width: 700px;
      height: 440px;
      right: -100px;
      top: -10%;
    }
  }
}
