@use "../utils/" as *;

.linksSection {
  background-color: $Background;
  min-height: 15rem;
  position: relative;

  .loadingContainer {
    position: relative;

    .loading {
      position: absolute;
      bottom: -170px;
      text-align: center;
      left: 39%;
      font-size: 18px;
      font-weight: 700;
      color: $DarkViolet;
      z-index: 20;
    }
  }
  .linksContainer {
    transition: all 0.3s ease;
    width: 90%;
    position: absolute;
    top: -70px;
    left: 5%;
  }

  .shortenUrlsContainer {
    padding: 160px 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .linksSection {
    margin: 10rem 0 0;
    .linksContainer {
      width: 73%;
      top: -85px;
      left: 13.5%;
    }

    .shortenUrlsContainer {
      padding: 120px 0 20px;
    }

    .loadingContainer {
      .loading {
        font-size: 20px;
        bottom: -130px;
        left: 45%;
      }
    }
  }
}

@media screen and (min-width: 1640px) {
  .linksSection {
    margin: 14rem 0 0;
    .linksContainer {
      width: 75%;
      left: 12.4%;
    }
  }
}
